<div class="container">
  <h2>🚗 Novo Carro</h2>

  <form (ngSubmit)="salvar()">

    <div class="form-group">
      <label>Marca</label>
      <input type="text" name="marca" [(ngModel)]="carro.marca" required />
    </div>

    <div class="form-group">
      <label>Modelo</label>
      <input type="text" name="modelo" [(ngModel)]="carro.modelo" required />
    </div>

    <div class="form-group">
      <label>Ano</label>
      <input type="number" name="ano" [(ngModel)]="carro.ano" required />
    </div>

    <div class="form-group">
      <label>Cor</label>
      <input type="text" name="cor" [(ngModel)]="carro.cor" required />
    </div>

    <div class="form-group">
      <label>Placa</label>
      <input type="text" name="placa" [(ngModel)]="carro.placa" required />
    </div>

    <div class="form-group">
      <label>Preço</label>
      <input type="number" name="preco" [(ngModel)]="carro.preco" required />
    </div>

    <div class="form-group">
      <label>Quilometragem</label>
      <input type="number" name="quilometragem" [(ngModel)]="carro.quilometragem" required />
    </div>

    <button type="submit">💾 Salvar</button>

  </form>
</div>